/bin/
/.metadata/
/AlgorithmsCpp/ipch/algorithmscpp-6e523890/*.ipch
/AlgorithmsCpp/AlgorithmsCpp/Debug/AlgorithmsCpp.tlog/AlgorithmsCpp.lastbuildstate
/AlgorithmsCpp/AlgorithmsCpp/Debug/AlgorithmsCpp.tlog/CL.read.1.tlog
/AlgorithmsCpp/AlgorithmsCpp/Debug/AlgorithmsCpp.tlog/CL.write.1.tlog
/AlgorithmsCpp/AlgorithmsCpp/Debug/AlgorithmsCpp.tlog/cl.command.1.tlog
/AlgorithmsCpp/AlgorithmsCpp/Debug/AlgorithmsCpp.tlog/link.command.1.tlog
/AlgorithmsCpp/AlgorithmsCpp/Debug/AlgorithmsCpp.tlog/link.read.1.tlog
/AlgorithmsCpp/AlgorithmsCpp/Debug/AlgorithmsCpp.tlog/link.write.1.tlog
/AlgorithmsCpp/.vs/AlgorithmsCpp/v14/.suo
/AlgorithmsCpp/AlgorithmsCpp.opensdf
/AlgorithmsCpp/AlgorithmsCpp.sdf
/AlgorithmsCpp/ipch/ALGORITHMSCPP-7b8c27d6/ALGORITHMSCPP-ac288ee9.ipch
/AlgorithmsCpp/AlgorithmsCpp/Debug/AlgorithmsCpp.log
/AlgorithmsCpp/AlgorithmsCpp/Debug/AlgorithmsCpp.obj
/AlgorithmsCpp/AlgorithmsCpp/Debug/AlgorithmsCpp.pch
/AlgorithmsCpp/AlgorithmsCpp/Debug/Numbers.obj
/AlgorithmsCpp/AlgorithmsCpp/Debug/Strings.obj
/AlgorithmsCpp/AlgorithmsCpp/Debug/stdafx.obj
/AlgorithmsCpp/AlgorithmsCpp/Debug/vc140.idb
/AlgorithmsCpp/AlgorithmsCpp/Debug/vc140.pdb
/AlgorithmsCpp/Debug/AlgorithmsCpp.exe
/AlgorithmsCpp/Debug/AlgorithmsCpp.ilk
/AlgorithmsCpp/Debug/AlgorithmsCpp.pdb
/AlgorithmsCpp/AlgorithmsCpp/Debug/vc120.idb
/AlgorithmsCpp/AlgorithmsCpp/Debug/AlgorithmsCpp.Build.CppClean.log
/AlgorithmsCpp/AlgorithmsCpp/Debug/Arrays.obj
/AlgorithmsCpp/AlgorithmsCpp/Debug/Trees.obj
/AlgorithmsCpp/AlgorithmsCpp/Debug/vc120.pdb
/AlgorithmsCpp/AlgorithmsCpp/Debug/*.obj
/AlgorithmsCpp/AlgorithmsCpp/Debug/AlgorithmsCpp.tlog
/HackerRank/lighthouse/ipch/lighthouse-88261243/lighthouse-a4fbb528.ipch
/HackerRank/lighthouse/lighthouse.opensdf
/HackerRank/lighthouse/lighthouse.sdf
/HackerRank/GravityTree/GravityTree.opensdf
/HackerRank/GravityTree/GravityTree.sdf
/HackerRank/GravityTree/ipch/gravitytree-7af8251/gravitytree-c746c442.ipch
/HackerRank/lighthouse/lighthouse/Debug/lighthouse.tlog/CL.read.1.tlog
/HackerRank/lighthouse/lighthouse/Debug/lighthouse.tlog/CL.write.1.tlog
/HackerRank/lighthouse/lighthouse/Debug/lighthouse.tlog/cl.command.1.tlog
/HackerRank/lighthouse/lighthouse/Debug/lighthouse.tlog/lighthouse.lastbuildstate
/HackerRank/lighthouse/lighthouse/Debug/lighthouse.tlog/link.command.1.tlog
/HackerRank/lighthouse/lighthouse/Debug/lighthouse.tlog/link.read.1.tlog
/HackerRank/lighthouse/lighthouse/Debug/lighthouse.tlog/link.write.1.tlog
/HackerRank/lighthouse/lighthouse/Debug/vc120.idb
/HackerRank/GravityTree/GravityTree/Debug/GravityTree.tlog/CL.read.1.tlog
/HackerRank/GravityTree/GravityTree/Debug/GravityTree.tlog/CL.write.1.tlog
/HackerRank/GravityTree/GravityTree/Debug/GravityTree.tlog/GravityTree.lastbuildstate
/HackerRank/GravityTree/GravityTree/Debug/GravityTree.tlog/cl.command.1.tlog
/HackerRank/GravityTree/GravityTree/Debug/GravityTree.tlog/link.command.1.tlog
/HackerRank/GravityTree/GravityTree/Debug/GravityTree.tlog/link.read.1.tlog
/HackerRank/GravityTree/GravityTree/Debug/GravityTree.tlog/link.write.1.tlog
/HackerRank/GravityTree/GravityTree/Debug/vc120.idb
/HackerRank/unexpectedProblem/unexpectedProblem/Debug/stdafx.obj
/HackerRank/unexpectedProblem/unexpectedProblem/Debug/unexpect.F9D07CB6.tlog/CL.command.1.tlog
/HackerRank/unexpectedProblem/unexpectedProblem/Debug/unexpect.F9D07CB6.tlog/CL.read.1.tlog
/HackerRank/unexpectedProblem/unexpectedProblem/Debug/unexpect.F9D07CB6.tlog/CL.write.1.tlog
/HackerRank/unexpectedProblem/unexpectedProblem/Debug/unexpect.F9D07CB6.tlog/link.command.1.tlog
/HackerRank/unexpectedProblem/unexpectedProblem/Debug/unexpect.F9D07CB6.tlog/link.read.1.tlog
/HackerRank/unexpectedProblem/unexpectedProblem/Debug/unexpect.F9D07CB6.tlog/link.write.1.tlog
/HackerRank/unexpectedProblem/unexpectedProblem/Debug/unexpect.F9D07CB6.tlog/unexpectedProblem.lastbuildstate
/HackerRank/unexpectedProblem/unexpectedProblem/Debug/unexpectedProblem.Build.CppClean.log
/HackerRank/unexpectedProblem/unexpectedProblem/Debug/unexpectedProblem.log
/HackerRank/unexpectedProblem/unexpectedProblem/Debug/unexpectedProblem.obj
/HackerRank/unexpectedProblem/unexpectedProblem/Debug/unexpectedProblem.pch
/HackerRank/unexpectedProblem/unexpectedProblem/Debug/vc140.idb
/HackerRank/GravityTree/GravityTree/Debug/GravityTree.Build.CppClean.log
/HackerRank/GravityTree/GravityTree/Debug/GravityTree.log
/HackerRank/GravityTree/GravityTree/Debug/GravityTree.obj
/HackerRank/GravityTree/GravityTree/Debug/GravityTree.pch
/HackerRank/GravityTree/GravityTree/Debug/stdafx.obj
/HackerRank/GravityTree/GravityTree/Debug/vc140.idb
/HackerRank/GravityTree/GravityTree/Debug/vc140.pdb
/HackerRank/unexpectedProblem/Debug/unexpectedProblem.exe
/HackerRank/unexpectedProblem/Debug/unexpectedProblem.ilk
/HackerRank/unexpectedProblem/Debug/unexpectedProblem.pdb
/AlgorithmsCpp/AlgorithmsCpp.VC.VC.opendb
/AlgorithmsCpp/AlgorithmsCpp.VC.db